@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to this simple Jokes App!</h1>
    <p>You can select "Jokes" to view all items listed, select "Search" to search for keywords, or Register and login to create your own entry!</p>
</div>
